<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mednot">

        <!-- Check Medicine Stock Page -->
        <activity android:name=".User.Check_Med_Stock" />

        <!-- Home Page -->
        <activity android:name=".User.Home" />

        <!-- Register Page -->
        <activity android:name=".Auth.Auth_Register" />

        <!-- Check med stock page -->
        <activity android:name=".User.Check_Med_Stock" />

        <!-- Login Page -->
        <activity android:name=".User.User_View_Reminders" />



        <!-- Login Page (Main Entry Point) -->
        <activity
            android:name=".Auth.Auth_Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
